fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
pandas
numpy
scikit-learn
joblib
python-multipart
openpyxl
celery
redis
uuid
passlib[bcrypt]
python-jose[cryptography]
python-multipart
emails
jinja2
