fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
pandas
numpy
scikit-learn
joblib
python-multipart
openpyxl
celery
redis
uuid
passlib[bcrypt]==1.7.4
bcrypt>=4.0.0
python-jose[cryptography]
python-multipart
emails
jinja2
